* {
	margin: 0;
	padding: 0;
}
.clearfix::after {
	content: '';
	display: block;
	clear: both;
}
.container {
	min-width: 500px;
}
.aside-nav, 
.aside-bar {
	width: 200px;
	height: 400px;
	
}
.aside-nav {
	float: left;
	background: #fb0d1c;
}
.aside-bar {
	float: right;
	background: #0b24fb;
}
.main {
	margin: 0 210px;
	height: 400px;
	background: #fec0cb;
}