* {
	margin: 0;
	padding: 0;
}
.box1 {
	width: 300px;
	border: 2px solid red;
	text-align: center;
}
.box1 img {
	padding: 40px;
}

.box2 {
	width: 300px;
	height: 300px;
	margin: 10px 0;
	border: 2px solid red;
	text-align: center;
}
.box2::before {
	content: '';
	display: inline-block;
	height: 100%;
	vertical-align: middle;
}
.box2 img {
	vertical-align: middle;
}